.lead-container {
  padding: 90px 0;
  text-align: center;
  background: rgba(226, 234, 244, 0.6);
}

.lead-container h4 {
  color: #8384ab;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.25rem;
}
