.features-section {
  margin: 20px 0;
}

.features-image {
  width: 100%;
}

.features-card {
  height: 425px;
  border: none;
  display: block;
}

@media only screen and (max-width: 576px) {
  .features-card {
    margin: 10px 0;
  }
}
