.feature-main-section {
  background: linear-gradient(
    177deg,
    rgba(226, 234, 244, 0.6) 300px,
    #fff 301px
  );
}

.video-switcher {
  border-bottom: 2px solid #8384ab;
}

.video-switcher:hover {
  cursor: pointer;
  border-bottom: 2px solid #29293b;
}

.video-container-inner video {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid rgb(239, 239, 239);
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.video-container-inner {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
  box-shadow: 0 0 4px 1px rgba(12, 12, 12, 0.07);
  border: 1px solid #dadada;
}

.video-container .card-body {
  color: #323038;
  padding: 0;
}

.feature-card-inner {
  display: flex;
}

.feature-card-body .images {
  text-align: right;
}

.video-container h5 {
  color: #243f6c;
  margin-bottom: 15px;
}

.features-card {
  padding: 35px;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.features-card.active,
.features-card:hover {
  background-color: #c3d1f123;
  cursor: pointer;
}

.features-image {
  width: 75px;
  margin: 3px;
  border: 3px solid #dae2f1;
}

.features-card:hover .features-image {
  border: 3px solid #afbdd6;
}

@media only screen and (max-width: 576px) {
  .video-container .row .col:last-child {
    margin-top: 20px;
  }
}
