.features-section {
  margin: 20px 0;
}

.features-image {
  width: 100%;
  border: 1px solid #fff;
}

.features-section .card-body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #323038;
}

.features-section .card-title {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  color: #223750;
}

.features-card {
  border: none;
  display: block;
  background: linear-gradient(180deg, #ffffff, #f5f8ff);
  border-radius: 0.75rem;
}

.feature-card-inner {
  height: 160px;
}

@media only screen and (max-width: 576px) {
  .features-card {
    margin: 10px 0;
  }
}
