.product-card {
  background-color: #f1f1f7;
  padding: 20px;
}

.product-card .tagline {
  color: #4a4a91;
}

.product-title h5 {
  margin-bottom: 1.25rem;
}

.product-card .card-body {
  padding: 0.5rem;
}

.product-card .cta-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-card ul li {
  border-top: 1px solid rgba(60, 60, 60, 0.1);
  padding: 15px 0;
}

.cta-sub {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.cta-vertical-group {
  flex-direction: column;
  width: 245px;
  margin: 4px auto;
}

.cta-vertical-group input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 245px;
  text-align: center;
}

.cta-vertical-group .btn {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: 245px;
  margin-top: -1px;
}

@media only screen and (max-width: 576px) {
  .product-card {
    margin: 20px 0;
  }
}
