.product-main-section-1 {
  padding-bottom: 80px;
  background: linear-gradient(2deg, #fff 60px, rgba(226, 234, 244, 0.6) 61px);
}

.product-main-section-1 .container {
  padding: 10px 15px 40px;
}

.product-main-section-2 .container {
  padding: 30px 15px 20px;
}

.info-col h3 {
  color: #253044a9;
  margin-bottom: 15px;
}

.info-col h3 span {
  font-weight: bold;
  color: #2a5298;
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-list li .li-span {
  display: inline-block;
  border-bottom: 2px solid rgba(177, 177, 177, 0.1);
  padding: 10px 0;
}

.cta-col {
  margin: 4px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cta-vertical-group input {
  display: inline-block;
  text-align: center;
  width: 245px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.cta-vertical-group .btn {
  display: inline-block;
  width: 245px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
