.languages-container .container {
  padding: 30px 0;
  text-align: center;
  color: #717193;
}

.languages-row,
.languages-header {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages-row i {
  font-size: 36px;
  padding: 0 1rem;
  color: rgba(89, 90, 134, 0.9);
}

@media only screen and (max-width: 576px) {
  .languages-row i {
    font-size: 24px;
    padding: 0 0.8rem;
  }
}
