.languages-container {
  background: linear-gradient(2deg, rgba(226, 234, 244, 0.6) 90px, #fff 91px);
  padding-bottom: 80px;
}

.languages-container .container {
  padding: 10px 0 40px;
  text-align: center;
  font-weight: 500;
  color: #787e92;
}

.languages-row,
.languages-header {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages-row i {
  font-size: 36px;
  padding: 0 1rem;
  color: #787e92;
}

@media only screen and (max-width: 576px) {
  .languages-row i {
    font-size: 24px;
    padding: 0 0.8rem;
  }
}
