.cta-section {
  background: linear-gradient(60deg, #141e30, #243b55);
  color: #dee3ea;
  margin: 40px 15px;
}

.cta-section h3 {
  color: #c3ddff;
}

.cta-row {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .cta-section {
    padding: 2em 2em;
  }

  .cta-input-group {
    width: 100%;
  }

  .cta-left-col {
    border-right: 1px solid #304358;
  }
}
