.title {
  padding: 18px 0 2px;
  background-color: #233f6c;
  border-bottom: 4px solid rgba(75, 120, 255, 0.65);
}

.title-row {
  max-width: 800px;
  line-height: 1;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.title-row h1 {
  all: unset;
  margin-left: 10px;
  vertical-align: top;
}

.title-row svg {
  margin-top: -5px;
}

.title-row .navigation-col {
  text-align: right;
}

.navigation-col ul {
  list-style-type: none;
}

.navigation-col li {
  display: inline-block;
  padding: 0 15px;
}

@media only screen and (max-width: 576px) {
  .title-row .hide-mobile {
    display: none;
  }
}
