.title {
  padding: 12px 0;
  background-color: #f8f8fb;
  border-bottom: 2px solid rgba(239, 234, 255, 0.65);
}

.title-row {
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title-row h1 {
  display: inline-block;
  margin-left: 10px;
  margin: 3px 0 0 10px;
  vertical-align: middle;
  font-size: 1.5rem;
  color: #2a68c1;
}

.title-row svg {
  vertical-align: middle;
}

.title-row .install-col {
  text-align: right;
}
