.contact-container {
  background-color: #f1f1f7;
  border-top: 3px solid rgba(90, 90, 134, 0.2);
}

.contact-container h3 {
  display: inline-block;
  margin-bottom: 20px;
}

.contact-container ul {
  padding: 0;
  list-style-type: none;
  color: #4a4a92;
  fill: #4a4a92;
}

.contact-container ul li {
  display: flex;
  border-bottom: 1px solid rgba(193, 189, 224, 0.3);
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.contact-container ul li:last-child {
  border: none;
}
