.footer-row {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-logo-section {
  flex: 0 0 30px;
  padding-right: 0px;
}

.footer-row p {
  margin-bottom: 8px;
}

.contact-section {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 100%;
  color: #bbb;
}

.contact-section div {
  margin-left: 7px;
  margin-right: 7px;
}

.contact-section a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .contact-section {
    margin-top: 18px;
    margin-left: 39px;
    width: auto;
  }
}
