.footer-row {
  border-top: 2px solid #efefef;
  padding-top: 30px;
}

.footer-logo-section {
  flex: 0 0 30px;
  padding-right: 0px;
}

.footer-row p {
  margin-bottom: 5px;
}

.contact-section {
  text-align: right;
}

@media only screen and (max-width: 576px) {
  .contact-section {
    margin-top: 18px;
    padding-left: 54px;
    text-align: left;
  }
}
