.footer {
  border-top: 3px solid rgb(90, 90, 134);
  background-color: #28283c;
  color: #ccc;
  font-size: 14px;
  text-transform: uppercase;
}

.footer a {
  color: #f5f294;
}

.footer a:hover {
  color: #f8e71c;
}

.footer .col-2 {
  text-align: right;
  padding-top: 40px;
}

@media only screen and (max-width: 576px) {
  .footer .col-2 {
    text-align: left;
    padding-top: 25px;
  }
}
