.blog-main-section {
  background: linear-gradient(
    177deg,
    rgba(226, 234, 244, 0.6) 170px,
    #fff 171px
  );
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.blog-header i {
  padding-left: 7px;
}

.blog-preview h3 {
  text-align: center;
}

.blog-preview h5 {
  text-align: center;
  margin-bottom: 30px;
  color: #999;
}

.blog-changelog {
  background-color: rgba(252, 252, 252, 0.8);
  border: 1px solid #eee;
}

.blog-changelog ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog-changelog li {
  border-bottom: 2px solid rgba(238, 238, 238, 0.5);
  padding: 8px 0;
}

.blog-changelog li:last-child {
  border: none;
}

.blog-changelog .product-col {
  text-align: right;
  color: #2100b3;
  text-transform: uppercase;
  padding-top: 5px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 576px) {
  .blog-changelog .product-col {
    text-align: center;
  }
}

.blog-changelog .product-col span {
  display: inline-block;
  padding: 2px 8px;
}

.blog-changelog h3 {
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.blog-changelog h3 span {
  color: #333;
}
