body {
  font-family: 'Avenir Next', -apple-system, Lato, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
  font-weight: bold;
  color: #474963;
}

.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: '';
  left: 0;
  top: 45%;
  right: 0;
  border-top: 2px solid;
  border-color: inherit;
  transform: rotate(-20deg);
}

.highlight {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(250, 247, 133, 0.3),
    rgba(250, 247, 133, 0.7) 95%,
    rgba(250, 247, 133, 0.1)
  );
}

.keyboard-shortcut {
  background: #e8e8e8;
  padding: 2px 5px;
  font-size: 13px;
  font-weight: normal;
  margin: 0 2px;
  border-radius: 5px;
  color: #2c2d30;
  border: 1px solid #a0a0a2;
  box-shadow: 0 1px 0 #a0a0a2;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/* Page styling */
.main-section .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 15px;
}

.main-section .mini-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 25px 15px;
}

.title-section .container {
  max-width: 800px;
  margin: 0 auto;
}

.main-section .sub-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px 35px;
}

.main-section .head-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 35px 10px;
}

.main-section .video-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 50px 15px;
}

/* Overriding the shade of blue */
.btn-primary {
  color: #fff;
  background-color: #3b66ad;
  border: 2px solid #3b66ad;
  width: 208px;
}

.btn-hollow {
  color: #3b66ad;
  font-weight: 500;
  background-color: #eef3f8;
  width: 130px;
}

.btn-primary:hover {
  background-color: #568ce4;
  border-color: #568ce4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  transform: translateY(-1px);
}

.button-sub {
  font-size: 13px;
  color: #888;
  margin-top: 5px;
}

a {
  color: rgb(46, 78, 201);
}

a:hover {
  color: #233f6c;
  text-decoration: none;
}

.dark a {
  color: #c4e2ff;
}

.dark a:hover {
  color: #f5f294;
}
